.jumbotron {
  background-image: url("../img/burgerpic2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: orange;
  color: black;
  margin-top: 3%;
}
#newburger {
  color:black;
}
#leftside {
  background-color: orange;
  color: black;
  text-align: center;
  font-size: 1.3em;
}
#rightside {
  background-color: #e49322;
  color: black;
  text-align: center;
  font-size: 1.3em;
}
